[Unit]
Description=PythonSponge WS backend

[Service]
User=pythonsponge
ExecStart=/home/pythonsponge/deployed/server/tools/run_ws.sh

[Install]
WantedBy=multi-user.target
